<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <br>
            <legend>Manage Site Content</legend>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#manage-news-content" aria-controls="Manage Content" role="tab" data-toggle="tab">Manage News Content</a></li>
                <li role="presentation"><a href="#manage-users" aria-controls="Manage Users" role="tab" data-toggle="tab">Manage Users</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="manage-news-content">
                    <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading">News Content</div>
                        <div class="panel-body">
                            <ul>
                                <!-- Note: The below name attributes match the routes -->
                                <li><a href="/news/add" class="news-content-link" data-route="add">Add News</a></li>
                                <br>
                                <li><a href="/news/remove" class="news-content-link" data-route="remove">Remove All News</a></li>
                            </ul>
                        </div>
                    </div> <!-- /.panel -->
                </div> <!-- /.tabpanel -->

                <div role="tabpanel" class="tab-pane fade" id="manage-users">
                    <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading">System Users</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                   <table class="table table-striped table-hover user" id="users-table">
                                       <thead>
                                           <tr class="text-blue">
                                               <th> Action </th>
                                               <th> First Name </th>
                                               <th> Last Name </th>
                                               <th> Username </th>
                                               <th> Email Address </th>
                                               <th> Join Date </th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                       {{#if users}}
                                         {{#each users}}
                                           <tr>
                                               <td>
                                                   <a href="/users/update" data-id="{{id}}"><i class="glyphicon glyphicon-pencil        text-muted" name="update" data-toggle="tooltip" data-placement="bottom" title="     Edit User"></i></a> &nbsp;
                                                   <a href="/users/delete" data-id="{{id}}"><i class="glyphicon glyphicon-remove        text-danger" name="delete" data-toggle="tooltip" data-placement="bottom" title="    Delete User"></i></a>
                                               </td>
                                               <td> {{firstName}} </td>
                                               <td> {{lastName}} </td>
                                               <td> {{userName}} </td>
                                               <td> {{email}} </td>
                                               <td> {{createdAt}} </td>
                                           </tr>
                                         {{/each}}
                                       {{else}}
                                           <tr>
                                               <td colspan="6" class="text-center"> There is no data available </td>
                                           </tr>
                                       {{/if}}
                                       </tbody>
                                   </table>
                                </div> <!-- /.table-responsive -->
                            </div> <!-- /.panel-body -->
                        </div> <!-- /.panel-heading -->
                    </div> <!-- /.panel -->
                </div> <!-- /.tab-pane -->
            </div> <!-- /.tab-content -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
</div> <!-- /.container -->