<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <br>
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-8">
            <legend>{{date}}</legend>
            <h2>{{heading}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-8">
            <img id="article-img" src="{{imgUrl}}" alt="{{heading}}" width="100%" height="auto" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-8">
            <p>{{description}}</p>
            <a href="{{articleLink}}" target="_blank">{{articleLink}}</a>
            <legend></legend>
        </div>  <!-- /.col -->
    </div>  <!-- /.row -->
</div> <!-- /.container -->