<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <br>
            <h3>My Profile</h3>
        </div>
        <div class="col-xs-12 well">
            <legend>Account Details</legend>
            <ul>
                <li>Name: {{firstName}} {{lastName}}</li>
                <br>
                <li>User name: {{userName}}</li>
                <br>
                <li>Email Address: {{userEmail}}</li>
                <br>
                <li>Join Date: {{createdAt}}</li>
            </ul>
        </div>  <!-- /.col -->
    </div>  <!-- /.row -->
</div> <!-- /.container -->